.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.slideRight-exit {
  opacity: 1;
}
.slideRight-exit-active {
  opacity: 0.01;
  transform: translateX(90%);
  transition: all 800ms ease-in;
}
